*,
*::before,
*::after{
    margin: 0%;
}

html{
    font-size: 10px;
}


body{
    font-family: 'Irish Grover', cursive;
    font-family: 'Montserrat', sans-serif;
    background: rgb(80,79,79);
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.6867121848739496) 0%, rgba(140,137,137,0.7567401960784313) 47%, rgba(24,24,24,0.6923144257703081) 100%);}



/* ------------ header big photo -------------- */
.header{
  background-image:   linear-gradient(to bottom, rgba(85, 85, 85, 0.52), rgba(5, 5, 5, 0.73)), url('../images/bigphoto-min.jpg');
  background-size: cover;
  color: inherit;
  margin-top: -50px;
  width: 100%;
}

/* ------------ PC LOGO -------------- */
#pclogo {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  filter: drop-shadow(0 0 0.1rem black);
  margin-top: 60px;
}

/* -------- PC MENU --------- */
#nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

#nav li {
  position: relative;
  display: inline;
}

#nav a {
  display: inline-block;
  padding: 10px;
  font-size: 200%;
}

.position {
  top: -50px;
}

/* ---------- DROP DOOWN KODE------------- */
#nav ul {
  top: 20px;
  position: absolute;
  left: -9999px;
  margin: 0;
  padding: 0;
  text-align: left;
}

#nav ul li {
  display: block;
}

#nav li:hover {
  color: black;
  background-color: inherit;
}

#nav li:hover ul {
  left: 0;
  top: 30px;
}

/* HOVER FARVE SERVICE/KONTAKT */
#sort1 a:hover , #sort2 a:hover {
  text-decoration: underline !important;
  background-color: inherit;
}

/* HOVER FARVE LEASING/BILER */
#nav li:hover a {
  color: white;
  background-color: inherit;
}

#nav li ul {
  background-color: rgba(0, 0, 0, 0.33);
  color: inherit;
}
/* -------------------------- */

#nav li:hover ul a {
  text-decoration: none;
  background: none;
}

#nav li:hover ul a:hover {
  color: white;
  background-color: inherit;
}

#nav ul a {
  white-space: nowrap;
  display: block;
}

#nav a {
  color: white;
  background-color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  background: white;
  color: inherit;
}

/* ----- SKJUL MOBIL NAV + LOGO ---- */
.menulogo, #burger {
  display: none;
}

/* ------------ Teksten under big photo-------------- */
.info {
  display: inline-block;
  width: 600px;
  padding: 10px;
  margin: 0;
position: relative;
left: 15%;
margin-left: 1%;
margin-top: 5%;
font-size: 16px;
line-height: 2;
}

/* ------------ så vi har styr på alle billede størrelser -------------- */
img{
  width: 100%;
}

/* Billede bokse med tekst */
.box{
  width: 100%;
  max-width: 140rem;
  height: 50rem;
  padding: 5rem;
  margin-top: 10%;
  background-image: linear-gradient(to right, #292828a1 0%, #ccc9c9 100%);
  box-shadow: 0 1.4rem 8rem rgba(0,0,0,.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
  margin-left: auto;
  margin-right: auto;
}
/* ------------ billedet som hører med til boxen-------------- */
.box_img{
  min-width: 60rem;
  max-width: 60rem;
  height: 50rem;
  transform: translateX(-8rem);
  position: relative;
}

.box_img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.box_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgba(238, 237, 237, 0),
  rgba(56, 56, 56, 0.685));
  box-shadow: .5rem .5rem 3rem 1px rgba(0,0,0, .05);
  border-radius: .8rem;
}
/* ------------ Årstal og Bil mærke -------------- */
.box_date span{
  display: block;
  color: rgba(0, 0, 0, 0.651);
  font-size: 2rem;
  font-weight: 600;
  margin: .5rem 0;
}
/* ------------ Prisen for leasing pr måned. -------------- */
.box_title{
  font-size: 4rem;
  margin: 1.5rem 0 2;
  text-transform: uppercase;
  color: rgba(27, 27, 27, 0.562);
}
/* ------------ Alt det andet vigtigt -------------- */
.box_tekst{
  margin-bottom: 3rem;
  font-size: 2rem;
  color: black;

}
/* ------------ lÆS MERE HER knappen-------------- */
.box_knap{
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(to right, #111111 0%, #848585 100%);
  border-radius: .8rem;
  text-decoration: none;

}

.box_knap:hover{
  background-image: linear-gradient(to right, #848585 0%, #111111 100%);
  transition: 0.5s;
  transform: scale(1.05);
  text-decoration: none;
  color: #ffffff;
}

.btn{
  display: inline-block;
  padding: 1rem 2rem;
  letter-spacing: 1px;
  font-size: 2rem;
  color: white;
  background-image: linear-gradient(to right, #111111 0%, #848585 100%);
  border-radius: .8rem;
  text-decoration: none;

}

.btn:hover{
  background-image: linear-gradient(to right, #848585 0%, #111111 100%);
  transition: 0.5s;
  transform: scale(1.05);
  text-decoration: none;
  color: #ffffff;
}


#slogan {
  margin-left: 34%;
 padding-top: 10%;
}






/* ------------------ CONTENT HER -------------------------- */

#slogan {
  height: 400px;
  text-align: center;
  color: white;
  background-color: inherit;
  margin-top: 50px;
  font-size: 25px;
  max-width: 600px;
}


/* ------------------ Kontakt os boks -------------------------- */

.contact{
  margin: 200px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0,0,0,0.7)),url(../images/header.JPG);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  margin-bottom: -250px;
}

.contact h1{
  color: rgb(255, 255, 255);
margin-bottom: 40px;
padding: 0;
font-size: 30px;


}

.knap{
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid aliceblue;
  padding: 20px 80px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  
}
.knap:hover{
  border: 1px solid rgba(247, 247, 247, 0.377);
  background: rgba(158, 156, 156, 0.637);
  transition: 0.5s;
  transform: scale(1.05);
}




/* --------------- FOOTER STYLING -------------------- */
.container{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}

.footer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0,0,0,0.7)),url(https://images.freecreatives.com/wp-content/uploads/2016/02/10-Free-Carbon-Fiber-Photoshop-Patterns.jpg);
    padding: 70px 0;
    margin-top: 20%;

}

.footer-col{
    width: 18%;
    padding: 0 80px;
    
}
.footer-col h4{
    font-size: 18px;
    color: white;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    left: 40px;
}
.footer-col h4::after{
    content:'';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 15px;
    color: white;
    text-decoration: none;
    font-weight: 300;
    color: rgb(202, 198, 198);
    display: block;
    transition: all 0.3s ease;
    pointer-events: none;
}
.footer-col ul li a:hover{
    color: rgb(146, 156, 155);

}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    margin-right:10px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: black;
    transition: all 0.3s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: rgb(122, 122, 122);
}

.fa{
    color: rgb(250, 250, 250);
    position: relative;
    text-align: center;

}



/* -----------MEDIA TIL MENU-------------- */
@media only screen and (max-width:677px) {

  #slogan {
    padding-top: 150px;
    margin-left: 0;
    font-size: 20px;

  }
  
  h2{
    padding-top: 40px;
  }
  
    /* ----- SKJUL PC NAV + LOGO ---- */
    #nav, #pclogo {
      display: none;
    }
  
    .menulogo {
      width: 50%;
      max-width: 300px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      padding-left: 25%;
    }
  
    /************** TLF MENU HER *************/
    #burger {
      text-decoration: none;
      color: white;
      background-color: inherit;
      font-size: 40px;
      position: fixed;
      margin: 10px;
      display: block;
    }
  
    .menutlf {
      margin-top: 20px;
      text-align: center;
    }
  
    .menutlf a {
      font-size: 30px;
      text-decoration: none;
      color: white;
      background-color: inherit;
      line-height: 60px;
    }
  
    .menutlf a:hover {
      text-decoration: none;
      color: black;
      background-color: inherit;
    }
  
    .menutlf ul {
      list-style-type: none;
    }
  }
  


@media screen and (max-width:550px){


/* -----------FOOTER HER------ */
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }


    /* Responsive billede bokse */

@media screen and (max-width:1600px){
  .box
  {
      max-width: 90rem;
  }
  .box_img{
      min-width: 50rem;
      max-width: 50rem;
  }
}

@media screen and (max-width:1300px){
  .box
  {
      max-width: 80rem;
  }
  .box_img
  {
      min-width: 50rem;
      max-width: 50rem;
  }

}
/* ------------ fuld responsive underside, Mobil version ændre sig merkant-------------- */
@media screen and (max-width:868px){
  .box{
      min-width: 40rem;
      max-width: 40rem;
      height: 50rem;
      max-width: 70rem;
      margin-top: 40%;
  }

  
}

@media screen and (max-width:768px){
  .box
 {
      align-items: center;
      min-width: 25rem;
      max-width: 25rem;
    padding: 2.5rem;
    flex-direction: column;
    
  }
  .box_img{
      min-width: 100%;
      min-height: 40%;
      max-width: 90%;
      transform: translate(0, -8rem);
  }

  .box_date span{
    display: block;
    color: rgba(0, 0, 0, 0.651);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
  }
  
  .box_title{
    font-size: 2rem;
    margin: 1.5rem 0 2;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.993);
  }
  
  .box_tekst{
    margin-bottom: 1.4rem;
    font-size: 1.5rem;
    color: black;
    width: 150px;
  }
  .box_knap{
    display: inline-block;
    padding: 1.5rem 3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
    background-image: linear-gradient(to right, #111111 0%, #848585 100%);
    border-radius: .8rem;
    text-decoration: none;


  }

 
.info {
  
  width: 300px;
  padding: 10px;
  position: relative;
left: 0%;
  align-items: center;
  border: none;
  margin: 0;
  margin-left: 5%;
margin-top: 5%;
font-size: 16px;
}


.contact{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.596),rgba(0,0,0,0.7)),url(../images/header.JPG);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
  
}

.contact h1{
  color: rgb(255, 255, 255);
margin-bottom: 40px;
padding: 0;
font-size: 23px;


}

.knap{
  display: inline-block;
  text-decoration: none;
  color: aliceblue;
  border: 1px solid aliceblue;
  padding: 20px 80px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
  margin-top: 40px;
  
}
.knap:hover{
  border: 1px solid rgba(247, 247, 247, 0.377);
  background: rgba(158, 156, 156, 0.637);
  transition: 0.5s;
  transform: scale(1.05);
}

}





